.pf-box__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.pf-box__item {
  width: 100%;
  margin: 15px;

  display: flex;
  @media screen and (max-width: 480px) {
    max-width: 450px;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 3);
  }
}

.pf-box-link {
  display: block;
  transition: box-shadow var(--main-transition);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.pf-cover-wrap {
  position: relative;
  overflow: hidden;
}

.pf-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white);
  background-color: rgba(33, 150, 243, 0.9);

  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  padding: 63px 24px;

  transform: translateY(101%);
  transition: transform var(--main-transition);
  .pf-box-link:hover &,
  .pf-box-link:focus & {
    transform: translateY(0);
  }
  @media screen and (max-width: 370px) {
    font-size: 15px;
  }
}

.pf-box-img {
  border: none;
  display: block;
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.card-subtitle {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.pf-box-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 20px 24px;
  border-right: 1px solid var(--cards-border);
  border-left: 1px solid var(--cards-border);

  border-bottom: 1px solid var(--cards-border);
  @media screen and (max-width: 480px) {
    min-height: 110px;
  }
  @media screen and (min-width: 480px) {
    min-height: 146px;
  }
}
