/* what-we-do section */

.wwd {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
  padding-top: 0;
}

.wwd__list {
  display: flex;
}
.wwd__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.wwd__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.wwd__list .img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}
