.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--main-transition), visibility var(--main-transition);
  @media screen and (min-width: 768px) {
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: scale(0.5) translate(-100%, -100%);
}
