.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white);
  background-color: var(--accent-color);
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}
