/* subscribe styling */
.subscribe-box {
  @media screen and (max-width: 479px) {
    width: 100%;
    max-width: 450px;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 570px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.subscribe-box__mail {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
}
.button__icon {
  display: block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.subscribe-box__input {
  height: 50px;
  padding: 15px 10px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-white);
  background-color: transparent;
  flex-grow: 1;

  @media screen and (max-width: 1199.98px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
  &::placeholder {
    color: var(--contacts-color);
  }
}
.subscribe-box__button {
  padding: 10px 28px;
  display: inline-flex;
  align-items: center;
  @media screen and (max-width: 1199.98px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.button__text {
  margin-right: 10px;
}
